<p id="notice"><%= notice %></p>

<h1>Listing Employment Contracts</h1>

<table>
  <thead>
    <tr>
      <th>Date start</th>
      <th>Date and</th>
      <th>cjn</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employment_contracts.each do |employment_contract| %>
      <tr>
        <td><%= employment_contract.date_start %></td>
        <td><%= employment_contract.date_and %></td>
        <td><%= employment_contract.employment %></td>

        <td><%= employment_contract.company %></td>
      </tr>

    <% end %>
  </tbody>
</table>

<br>
