<!DOCTYPE html>
<html>
<head>
  <title>Epid</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid  ">
    <div class="header clearfix navbar navbar-fixed-top navbar-dark bg-inverse">
      <nav >
        <ul class="nav nav-pills pull-xs-right ">
          <li class="nav-item">
            <%= link_to "Компании", companies_url, class: "nav-link" %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item"><%= current_user.email %> <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li class="nav-item"><%= link_to 'Войти', new_user_session_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to 'Зарегистрироваться', new_user_registration_path, class: "nav-link" %></li>
            <% end %>
        </ul>
        <h3 class="text-muted">ESTATE PROFESSIONAL ID</h3>
      </nav>
      <div class="search-panel">
        <div class="wrp">
          <form class="form-inline">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Поиск людей, компаний">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>


  </div>
  <div class="container">
    <%= flash_messages %>
    <%= yield %>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

  </div>

    <footer class="footer">

    </footer>

  </div> <!-- /container -->





</body>
</html>
